# Vercel Postgres Credentials
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# AI Model Configuration (Optional)
AI_MODEL_ENDPOINT=
AI_API_KEY=
